:root {
  --white: #f1f6f9;
  --light-blue: #394867;
  --dark-blue: #212a3e;
  --gray: #9ba4b5;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--light-blue);
}

.header-list {
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 50px;
}

.list-item {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.list-item a {
  text-decoration: none;
  color: black;
}

#logo {
  height: 40px;
}

.shows-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.show-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

.show-image {
  width: auto;
}

.show-item p {
  font-size: 1rem;
}

.show-item button {
  border-radius: 0;
  border: 1px solid black;
  padding: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.likes-btn {
  cursor: pointer;
  width: 20px;
}

.likes p {
  font-size: 0.9rem;
}

.footer {
  padding: 1rem;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-top: 50px;
}

.footer-logo {
  height: 40px;
}

.licence-paragraph {
  font-size: 1rem;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #c1c7d0ab;
  overflow: scroll;
  backdrop-filter: blur(4px);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 700px;
  backdrop-filter: blur(5px);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
  margin-right: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.img-popup {
  display: block;
  width: 20rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.movie-heading {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.dis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.dis > * {
  font-size: 1rem;
}

.work-close {
  cursor: pointer;
  align-self: flex-end;
}

.work-close:hover {
  transform: scale(2);
  transition: 0.3s;
}

.counter-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.show-comment > * {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.comment-container {
  margin-bottom: 2rem;
}

.add-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.name-input,
.message-input {
  padding: 0.5rem 1rem;
}

.btn-submit {
  padding: 0.7rem 1.4rem;
}

// All reservation style

.btn-reserve {
  border: none;
  border-radius: 5px;
}

#new-reserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reserve-input,
.reserve-button {
  margin-top: 20px;
  font-size: 1.5rem;
  border: 1px solid #777;
  border-radius: 8px;
  padding: 1rem 1rem;
  width: 70%;
}

::placeholder {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 100;
}

.reserve-button {
  box-shadow: 5px 5px 0 black;
  margin-bottom: 3rem;
}

.reservation {
  background-color: rgba(61, 59, 59, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-family: 'Estonia', cursive;
  font-weight: 100;
  font-size: 1rem;
  display: none;
}

.reservepopup {
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
  width: 100vw;
  max-width: 800px;
  margin: 1vh auto;
  border: 1px lightgray solid;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.reserveImage {
  width: 100%;
  height: 25rem;
  border-radius: 10px;
  margin-left: 2rem;
}

.reservation-img-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
}

.close-reservation {
  width: 5%;
  margin: 0 2rem;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 5px;
  margin-bottom: 1rem;
}

.grid-item {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

#close-reserve-popup {
  color: #908989;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -26rem;
  margin-right: 2rem;
}

#close-reserve-popup:hover,
#close-reserve-popup:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#listOfReservations {
  padding: 10px 5rem;
}

.reservation-records {
  padding: 0.5rem;
}

.add-reserve,
.reserve-count {
  padding-left: 20rem;
}
