*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.header-list {
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 50px;
}

.list-item {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.list-item a {
  text-decoration: none;
  color: black;
}

#logo {
  height: 40px;
}

.shows-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.show-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

.show-image {
  width: auto;
}

.show-item p {
  font-size: 1rem;
}

.show-item button {
  border-radius: 0;
  border: 1px solid black;
  padding: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.likes-btn {
  cursor: pointer;
  width: 20px;
}

.likes p {
  font-size: 0.9rem;
}

.footer {
  padding: 1rem;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-top: 50px;
}

.footer-logo {
  height: 40px;
}

.licence-paragraph {
  font-size: 1rem;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #c1c7d0ab;
  overflow: scroll;
  backdrop-filter: blur(4px);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 700px;
  backdrop-filter: blur(5px);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
  margin-right: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.img-popup {
  display: block;
  width: 20rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.movie-heading {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.dis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.dis > * {
  font-size: 1rem;
}

.counter-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.show-comment > * {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.comment-container {
  margin-bottom: 2rem;
}

.add-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.name-input,
.message-input {
  padding: 0.5rem 1rem;
}

.btn-submit {
  padding: 0.7rem 1.4rem;
}
