*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.header-list {
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 50px;
}

.list-item {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.list-item a {
  text-decoration: none;
  color: black;
}

#logo {
  height: 40px;
}

.shows-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.show-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

.show-image {
  width: auto;
}

.show-item p {
  font-size: 1rem;
}

.show-item button {
  border-radius: 0;
  border: 1px solid black;
  padding: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.likes-btn {
  cursor: pointer;
  width: 20px;
}

.likes p {
  font-size: 0.9rem;
}

.footer {
  padding: 1rem;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-top: 50px;
}

.footer-logo {
  height: 40px;
}

.licence-paragraph {
  font-size: 1rem;
}
